<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <p><% date = DateTime.now.to_s %></p>
    <p><% date2 = DateTime.parse %></p>
    <p><%= "The date is #{date2}"  %></p>
  </body>
</html>
